HOBO_STD_FONT RCDATA "data\external\data\HoboStd.otf"

SCROLLER_NXMI RCDATA "data\external\data\ce-scroller.nxmi"
TEXTCOLOURS_NXMI RCDATA "data\external\data\ce-textcolours.nxmi"
TITLE_NXMI RCDATA "data\external\data\ce-title.nxmi"

BACKGROUND_PNG RCDATA "data\external\gfx\menu\ce-background.png"
LEVEL_ATTEMPTED_PNG RCDATA "data\external\gfx\menu\ce-level_attempted.png"
LEVEL_COMPLETED_PNG RCDATA "data\external\gfx\menu\ce-level_completed.png"
LEVEL_COMPLETED_OUTDATED_PNG RCDATA "data\external\gfx\menu\ce-level_completed_outdated.png"
LEVEL_NOT_ATTEMPTED_PNG RCDATA "data\external\gfx\menu\ce-level_not_attempted.png"
LEVEL_TALISMAN_PNG RCDATA "data\external\gfx\menu\ce-level_talisman.png"
LEVELINFO_ICONS_PNG RCDATA "data\external\gfx\menu\ce-levelinfo_icons.png"
LOGO_PNG RCDATA "data\external\gfx\menu\ce-logo.png"
MENU_FONT_PNG RCDATA "data\external\gfx\menu\ce-menu_font.png"
SCROLLER_LEMMINGS_PNG RCDATA "data\external\gfx\menu\ce-scroller_lemmings.png"
SCROLLER_SEGMENT_PNG RCDATA "data\external\gfx\menu\ce-scroller_segment.png"
SIGN_CONFIG_PNG RCDATA "data\external\gfx\menu\ce-sign_config.png"
SIGN_GROUP_PNG RCDATA "data\external\gfx\menu\ce-sign_group.png"
SIGN_GROUP_DOWN_PNG RCDATA "data\external\gfx\menu\ce-sign_group_down.png"
SIGN_GROUP_UP_PNG RCDATA "data\external\gfx\menu\ce-sign_group_up.png"
SIGN_LEVEL_SELECT_PNG RCDATA "data\external\gfx\menu\ce-sign_level_select.png"
SIGN_PLAY_PNG RCDATA "data\external\gfx\menu\ce-sign_play.png"
SIGN_QUIT_PNG RCDATA "data\external\gfx\menu\ce-sign_quit.png"

PANEL_FONT_PNG RCDATA "data\external\gfx\panel\ce-panel_font.png"
PANEL_FONT_HR_PNG RCDATA "data\external\gfx\panel-hr\ce-panel_font.png"
PANEL_ICONS_PNG RCDATA "data\external\gfx\panel\ce-panel_icons.png"
PANEL_ICONS_HR_PNG RCDATA "data\external\gfx\panel-hr\ce-panel_icons.png"

FOCUSED_PLAYBACK_PNG RCDATA "data\external\gfx\cursor\ce-focused_playback.png"
FOCUSED_PLAYBACK_HR_PNG RCDATA "data\external\gfx\cursor-hr\ce-focused_playback.png"
FOCUSED_REPLAY_PNG RCDATA "data\external\gfx\cursor\ce-focused_replay.png"
FOCUSED_REPLAY_HR_PNG RCDATA "data\external\gfx\cursor-hr\ce-focused_replay.png"
FOCUSED_REPLAY_INSERT_PNG RCDATA "data\external\gfx\cursor\ce-focused_replay_insert.png"
FOCUSED_REPLAY_INSERT_HR_PNG RCDATA "data\external\gfx\cursor-hr\ce-focused_replay_insert.png"
STANDARD_PLAYBACK_PNG RCDATA "data\external\gfx\cursor\ce-standard_playback.png"
STANDARD_PLAYBACK_HR_PNG RCDATA "data\external\gfx\cursor-hr\ce-standard_playback.png"
STANDARD_REPLAY_PNG RCDATA "data\external\gfx\cursor\ce-standard_replay.png"
STANDARD_REPLAY_HR_PNG RCDATA "data\external\gfx\cursor-hr\ce-standard_replay.png"
STANDARD_REPLAY_INSERT_PNG RCDATA "data\external\gfx\cursor\ce-standard_replay_insert.png"
STANDARD_REPLAY_INSERT_HR_PNG RCDATA "data\external\gfx\cursor-hr\ce-standard_replay_insert.png"

SLEEPER_PNG RCDATA "data\external\styles\default\lemmings\sleeper.png"
SLEEPER_HR_PNG RCDATA "data\external\styles\default\lemmings-hr\sleeper.png"

BOMBER_PNG RCDATA "data\external\gfx\mask\bomber.png"
STONER_PNG RCDATA "data\external\gfx\mask\stoner.png"
BASHER_PNG RCDATA "data\external\gfx\mask\basher.png"
FENCER_PNG RCDATA "data\external\gfx\mask\fencer.png"
MINER_PNG RCDATA "data\external\gfx\mask\miner.png"
LASER_PNG RCDATA "data\external\gfx\mask\laser.png"

SOUND_ASSIGNFAIL_OGG RCDATA "data\external\sound\assignfail.ogg"
SOUND_DINK_OGG RCDATA "data\external\sound\dink.ogg"
SOUND_OK_OGG RCDATA "data\external\sound\OK.ogg"
