NXMI_SCROLLER RCDATA "data\external\assets-ce\data\scroller.nxmi"
NXMI_TEXTCOLOURS RCDATA "data\external\assets-ce\data\textcolours.nxmi"
NXMI_TITLE RCDATA "data\external\assets-ce\data\title.nxmi"

BACKGROUND_PNG RCDATA "data\external\assets-ce\gfx\menu\background.png"
LEVEL_ATTEMPTED_PNG RCDATA "data\external\assets-ce\gfx\menu\level_attempted.png"
LEVEL_COMPLETED_PNG RCDATA "data\external\assets-ce\gfx\menu\level_completed.png"
LEVEL_COMPLETED_OUTDATED_PNG RCDATA "data\external\assets-ce\gfx\menu\level_completed_outdated.png"
LEVEL_NOT_ATTEMPTED_PNG RCDATA "data\external\assets-ce\gfx\menu\level_not_attempted.png"
LEVEL_TALISMAN_PNG RCDATA "data\external\assets-ce\gfx\menu\level_talisman.png"
LEVELINFO_ICONS_PNG RCDATA "data\external\assets-ce\gfx\menu\levelinfo_icons.png"
LOGO_PNG RCDATA "data\external\assets-ce\gfx\menu\logo.png"
SCROLLER_LEMMINGS_PNG RCDATA "data\external\assets-ce\gfx\menu\scroller_lemmings.png"
SCROLLER_SEGMENT_PNG RCDATA "data\external\assets-ce\gfx\menu\scroller_segment.png"
SIGN_CONFIG_PNG RCDATA "data\external\assets-ce\gfx\menu\sign_config.png"
SIGN_GROUP_PNG RCDATA "data\external\assets-ce\gfx\menu\sign_group.png"
SIGN_GROUP_DOWN_PNG RCDATA "data\external\assets-ce\gfx\menu\sign_group_down.png"
SIGN_GROUP_UP_PNG RCDATA "data\external\assets-ce\gfx\menu\sign_group_up.png"
SIGN_LEVEL_SELECT_PNG RCDATA "data\external\assets-ce\gfx\menu\sign_level_select.png"
SIGN_PLAY_PNG RCDATA "data\external\assets-ce\gfx\menu\sign_play.png"
SIGN_QUIT_PNG RCDATA "data\external\assets-ce\gfx\menu\sign_quit.png"

FOCUSED_PLAYBACK_PNG RCDATA "data\external\gfx\cursor\focused_playback.png"
FOCUSED_PLAYBACK_HR_PNG RCDATA "data\external\gfx\cursor-hr\focused_playback.png"
FOCUSED_REPLAY_PNG RCDATA "data\external\gfx\cursor\focused_replay.png"
FOCUSED_REPLAY_HR_PNG RCDATA "data\external\gfx\cursor-hr\focused_replay.png"
FOCUSED_REPLAY_INSERT_PNG RCDATA "data\external\gfx\cursor\focused_replay_insert.png"
FOCUSED_REPLAY_INSERT_HR_PNG RCDATA "data\external\gfx\cursor-hr\focused_replay_insert.png"
STANDARD_PLAYBACK_PNG RCDATA "data\external\gfx\cursor\standard_playback.png"
STANDARD_PLAYBACK_HR_PNG RCDATA "data\external\gfx\cursor-hr\standard_playback.png"
STANDARD_REPLAY_PNG RCDATA "data\external\gfx\cursor\standard_replay.png"
STANDARD_REPLAY_HR_PNG RCDATA "data\external\gfx\cursor-hr\standard_replay.png"
STANDARD_REPLAY_INSERT_PNG RCDATA "data\external\gfx\cursor\standard_replay_insert.png"
STANDARD_REPLAY_INSERT_HR_PNG RCDATA "data\external\gfx\cursor-hr\standard_replay_insert.png"
